#include <windows.h>
#include "findworddialog.h"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_FINDPWDDLG DIALOG 0, 0, 145, 100
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Enter the word"
FONT 10, "Arial"
{
    DEFPUSHBUTTON   "OK", IDOK, 21, 47, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 83, 46, 50, 14
    LTEXT           "Search for", IDC_STATIC, 7, 7, 40, 8, SS_LEFT
    EDITTEXT        IDC_WORDEDIT, 45, 4, 92, 14, ES_AUTOHSCROLL
}
